// main: ./moska.scss

// Define sizes
$mob : 175px;
$tab : 533px;
$des : 1024px;

.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  min-height: 32px;
  height: auto;
  position: relative;
}

.no-guter > div[class^="col"] {
  margin: 0;
}
*[class^="col"] {
  margin: 4px;
  align-items: flex-start;
  align-self: flex-start;
}

//Lopping to do columns size
@for $i from 1 through 12{
  //Columns
  $size: percentage(1/12 * $i);
  $width: #{$size};
  $widthGuter: calc(#{$size} - 8px);
  .col-#{$i}{
    display: flex;
    flex-flow: row wrap;
    width: $widthGuter;
    padding: 8px;
  }
  .no-guter > .col-#{$i} {
    width: $width;
  }

  //Offset move
  @if $i + 1 <= 12 {
    .move-#{$i}{
      margin-left: calc(calc(#{$i} * 8.33333%) + 4px)!important;
    }
    .no-guter > .move-#{$i} {
      margin-left: calc(#{$i} * 8.33333%)!important;
    }
  }

}

@media screen and (min-width: $mob) and (max-width: 1023px){
  @for $i from 1 through 12{
    $size: percentage(1/12 * $i);
    .row:not(.column) > .col-#{$i}{
      width: 100%;
    }
    .row:not(.column) > .move-#{$i}{
      margin-left: inherit!important;
    }
  }
}

@media screen and (min-width: $mob) and (max-width: 1023px){
  @for $i from 1 through 12{
    $size: percentage(1/12 * $i);
    $width: calc(#{$size} - 8px);
    .mob-#{$i}, .row:not(.column) > .mob-#{$i}{
      width: $width;
    }
  }
}

@media (min-width: $tab) and (max-width: 1023px) {
  @for $i from 1 through 12{
    $size: percentage(1/12 * $i);
    $width: calc(#{$size} - 8px);
    .tab-#{$i}, .row:not(.column) > .tab-#{$i}{
      width: $width;
    }
  }
}
