// compileCompressed: ../../css/sizing/$1.css, main: ../moska.scss
.horizontal-left {
  justify-content: flex-start;
}
.horizontal-right {
  justify-content: flex-end;
}
.horizontal-center {
  justify-content: center;
}

.self-left {
  align-self: flex-start;
}
.self-right {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.height-100 {
  height: 100%;
}
