// compileCompressed: ../../css/sizing/$1.css

/*Margin/Padding*/
@for $i from 4 through 100{
  @if $i % 4 == 0 OR $i % 5 == 0 {
    // Margin
    .margin-#{$i}{  margin: $i+px; }
    .margin-top-#{$i}{  margin-top: $i+px; }
    .margin-bottom-#{$i}{  margin-bottom: $i+px; }
    .margin-left-#{$i}{  margin-left: $i+px; }
    .margin-right-#{$i}{  margin-right: $i+px; }

    .margin-tb-#{$i}{  margin-top: $i+px; margin-bottom: $i+px; }
    .margin-rl-#{$i}{  margin-left: $i+px; margin-right: $i+px; }

    // Padding
    .padding-#{$i}{  padding: $i+px; }
    .padding-top-#{$i}{  padding-top: $i+px; }
    .padding-bottom-#{$i}{  padding-bottom: $i+px; }
    .padding-left-#{$i}{  padding-left: $i+px; }
    .padding-right-#{$i}{  padding-right: $i+px; }

    .padding-tb-#{$i}{ padding-top: $i+px; padding-bottom: $i+px; }
    .padding-rl-#{$i}{ padding-right: $i+px; padding-left: $i+px; }

  }
}

.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.no-space {
  padding: 0;
  margin: 0;
}
