// compileCompressed: ../../css/components/$1.css, main: ../moska.scss

.highlight {
  background-color: #282c34;
  padding: 32px;
  font-size: 12pt;
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: 5px;
}
.highlight span.tag.first {
  padding-left: 8px;
}
.highlight span.tag, .highlight span.text {
  color: white;
}
.highlight span.tagName {
  color: #ff3c41;
}
.highlight span.attr {
  color: orange;
}
.highlight span.attrValue {
  color: lightgreen;
}

.highlight span.number {
  width: 100%;
  color: gray;
}

.highlight .line {
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px solid gray;
  text-align: right;
  padding-right: 8px;
}
.highlight .code p {
  margin: 0;
}
