// compileCompressed: ../../css/common/$1.css

.border {
  border-width: 1px;
  border-style: solid;
  border-color: gainsboro;
}

.border-radius {
  border-radius: 3px;
}
.border-radius-5 {
  border-radius: 5px;
}
