// compileCompressed: ../../css/common/$1.css

h1, h2, h3, h4, h5, h6, p {
  width: 100%;
  grid-column: span 12;
  line-height: 1.2;
}
h1:not(.light), h2:not(.light), h3:not(.light), h4:not(.light), h5:not(.light), h6:not(.light) {
  font-weight: bold;
}

p {
  font-size: 15pt;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 15px;
}


@for $i from 1 through 12{
  .font-x#{$i}{ font-size: #{$i*10}00% }
}
